SyntaxError: invalid syntax (2090263004.py, line 1)

In [1]:
import pandas as pd
import numpy as np

In [3]:
lista = [[1,2,3], [4,5,6]]

In [8]:
df = pd.DataFrame(lista, columns = ['Edad', 'Rango', 'Si'])

df

   Edad  Rango  Si
0     1      2   3
1     4      5   6

In [3]:
array = np.array([[1, 2, 3], [3,4,5], [6,7,8]])
array

arraySuma = array + 3

arraySuma

array([[ 4,  5,  6],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [20]:
df2 = pd.DataFrame(arraySuma)
df2

   0   1   2
0  4   5   6
1  6   7   8
2  9  10  11

In [28]:
diccionario = {'Nombres':['Emanuel', 'Yineth'], 'Edad':[22, 20]}
df3 = pd.DataFrame(diccionario)
df3

   Nombres  Edad
0  Emanuel    22
1   Yineth    20

In [29]:
df3.set_index('Nombres')

         Edad
Nombres
Emanuel    22
Yineth     20

In [30]:
consulta = df3['Nombres'] == 'Yineth'
df3[consulta]

  Nombres  Edad
1  Yineth    20

In [3]:
pokemon = pd.read_csv('Pokemon.csv')

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
iniciales = pokemon.loc[0:9, ['Name', 'Total']]
iniciales

                        Name  Total
0                  Bulbasaur    318
1                    Ivysaur    405
2                   Venusaur    525
3      VenusaurMega Venusaur    625
4                 Charmander    309
5                 Charmeleon    405
6                  Charizard    534
7  CharizardMega Charizard X    634
8  CharizardMega Charizard Y    634
9                   Squirtle    314

In [5]:
pokemon2 = pokemon.set_index('Type 1')
pokemon2

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Grass,1,Bulbasaur,Poison,318,45,49,49,65,65,45,1,False
Grass,2,Ivysaur,Poison,405,60,62,63,80,80,60,1,False
Grass,3,Venusaur,Poison,525,80,82,83,100,100,80,1,False
Grass,3,VenusaurMega Venusaur,Poison,625,80,100,123,122,120,80,1,False
Fire,4,Charmander,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Rock,719,Diancie,Fairy,600,50,100,150,100,150,50,6,True
Rock,719,DiancieMega Diancie,Fairy,700,50,160,110,160,110,110,6,True
Psychic,720,HoopaHoopa Confined,Ghost,600,80,110,60,150,130,70,6,True
Psychic,720,HoopaHoopa Unbound,Dark,680,80,160,60,170,130,80,6,True
Fire,721,Volcanion,Water,600,80,110,120,130,90,70,6,True

In [6]:
#cond1 = pokemon['Attack'] > 100
legendary = pokemon[pokemon['Legendary'] == True]

In [7]:
type(legendary)

pandas.core.frame.DataFrame

In [8]:
legendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [9]:
legendary.loc[156:163, 'Name':'Speed']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
156,Articuno,Ice,Flying,580,90,85,100,95,125,85
157,Zapdos,Electric,Flying,580,90,90,85,125,90,100
158,Moltres,Fire,Flying,580,90,100,90,125,85,90
162,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130
163,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130

In [19]:
pokemon.loc[801] = [801, 'Emanuel', 'Grass', 'Flying', 500, 100, 54, 52, 85, 822, 65, 9, False]
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
801,801,Emanuel,Grass,Flying,500,100,54,52,85,822,65,9,False

In [21]:
pokemon.sort_values(by = 'Attack', ascending = False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

In [22]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
801,801,Emanuel,Grass,Flying,500,100,54,52,85,822,65,9,False

In [31]:
tipo1 =pokemon.groupby(pokemon['Generation']).mean()
tipo1

TypeError: Could not convert BulbasaurIvysaurVenusaurVenusaurMega VenusaurCharmanderCharmeleonCharizardCharizardMega Charizard XCharizardMega Charizard YSquirtleWartortleBlastoiseBlastoiseMega BlastoiseCaterpieMetapodButterfreeWeedleKakunaBeedrillBeedrillMega BeedrillPidgeyPidgeottoPidgeotPidgeotMega PidgeotRattataRaticateSpearowFearowEkansArbokPikachuRaichuSandshrewSandslashNidoran♀NidorinaNidoqueenNidoran♂NidorinoNidokingClefairyClefableVulpixNinetalesJigglypuffWigglytuffZubatGolbatOddishGloomVileplumeParasParasectVenonatVenomothDiglettDugtrioMeowthPersianPsyduckGolduckMankeyPrimeapeGrowlitheArcaninePoliwagPoliwhirlPoliwrathAbraKadabraAlakazamAlakazamMega AlakazamMachopMachokeMachampBellsproutWeepinbellVictreebelTentacoolTentacruelGeodudeGravelerGolemPonytaRapidashSlowpokeSlowbroSlowbroMega SlowbroMagnemiteMagnetonFarfetch'dDoduoDodrioSeelDewgongGrimerMukShellderCloysterGastlyHaunterGengarGengarMega GengarOnixDrowzeeHypnoKrabbyKinglerVoltorbElectrodeExeggcuteExeggutorCuboneMarowakHitmonleeHitmonchanLickitungKoffingWeezingRhyhornRhydonChanseyTangelaKangaskhanKangaskhanMega KangaskhanHorseaSeadraGoldeenSeakingStaryuStarmieMr. MimeScytherJynxElectabuzzMagmarPinsirPinsirMega PinsirTaurosMagikarpGyaradosGyaradosMega GyaradosLaprasDittoEeveeVaporeonJolteonFlareonPorygonOmanyteOmastarKabutoKabutopsAerodactylAerodactylMega AerodactylSnorlaxArticunoZapdosMoltresDratiniDragonairDragoniteMewtwoMewtwoMega Mewtwo XMewtwoMega Mewtwo YMew to numeric

In [32]:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        71
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64